{% extends "base.html"%}

{% load group_check %}

{% block title %}Album {{album.name}}{% endblock %}

{% block content %}

<h1>{{album.name}} by <a href='{% url "artist-detail" album.artist.pk %}' >{{album.artist.name}}</a></h1>
<h2><a href='{% url "download_archive" "album" album.pk %}'> Download whole album </a> </h2>
<br>

{% if request.user|has_group:"admin" %}
<a class="btn btn-primary" href='{% url "music-create" pk=album.pk %}'>
  Add new track
</a>
{% endif %}

{% include 'audio_player.html' with musics=album.musics.all %}





{% endblock %}