{% include "home/base.html"%}


{% block content %}

<h1>All arists</h1>
<br>
<a href='{% url "artist_create" %}'>Add new artist</a>

<div class="container d-flex justify-content-center align-items-center">
{% for artist in artists %}

<div class="card" style="width: 18rem;">
    <img src="{{artist.photo.url}}" class="card-img-top" alt="...">
    <a href="{% url 'artist_detail' artist.pk %}" ></a>
    <div class="card-body">
      <p class="card-text"><a href="{% url 'artist_detail' artist.pk %}" >{{artist.name}}</a></p>
    </div>
  </div>

{% endfor %}

</div>

{% endblock %}