{% include "home/base.html"%}

    
{% block content %}


<h1>All musics</h1>

<a href="{% url 'playlist_create' %}" > Add own playlist </a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">artist</th>
            <th scope="col">album</th>
            <th scope="col">created</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
           {% for music in musics %} 
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>
                <audio controls>
                    <source src="{{ music.track.url }}" type="audio/mpeg">
                </audio>
                <a href="{% url 'artist_detail' music.artist.pk %}">{{music.artist.name}}</a>
            </td>
            <td><a href="{% url 'album_detail' music.album.pk %}" >{{music.album.name}}</a></td>
            <td>{{music.created.year}}</td>
            <td>

            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                ...
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>

          </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>




    {% endblock %}
    

    
